/*No tocar*/
:root{
  --brown: #210F04;
  --beige: #ada296;
  --red: #BD1E1E;
  --blue: #3c6e71;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

/* No tocar*/




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
